html {
    -webkit-border-radius: 5px;
}
body {
    background-color: rgba(20, 17, 16, 0.9);
    font-family: ubuntu, arial;
    margin: 0;
}
header {
    height: 30px;text-overflow: ellipsis;
}
#project-name {
    color: #FFF;
    font-size: 16px;
    padding: 5px 10px 0;
    float: left;
}
#project-path {
    color: #91989e;
    font-size: 14px;
    padding: 5px 12px 0;
    float: left;
}
.main {
    height: 150px;
    border-bottom: 1px solid #1781ae;
    clear: both;
}
#project-icon {
    float: left;
    width: 80px;
    height: 100%;
    padding-left:5px;
}
#project-icon img {
    max-width: 80px;
    max-height: 80px;
    margin: 5px auto 0;
}
#project-icon img:hover {
    outline: 2px solid #0d86ba;
}
#project-options {
    height: 100%;
    float: left;
}
#project-shortcuts {
    height: 70%;
}
#project-actions {
    height: 30%;
}
.btn {
    background-color: #095e66;
    -webkit-border-radius: 3px;
    color: #FFF;
    height: 16px;
    padding: 3px;
    border: none;
    min-width: 60px;
    text-align: center;
    font-size: 14px;
    -webkit-user-select: none;
    cursor: default;
    float: left;
}
.btn:hover {
    background-color: #117e99;
}
#delete-project {
    background-color: #560301;
    width: 55px;
}
#delete-project:hover {
    background-color: #de2111;
}
#project-path .fa:hover {
    color: #0d86ba;
}
#project-name .content {
    padding: 2px;
    display: inline-block;
}
#project-name .content[contenteditable="true"] {
    color: #0d86ba;
    -webkit-border-radius: 3px;
    background-color: #303434;
    outline: none;
    min-width: 50px;
}
#project-name span {
    padding-left: 3px;
}
#project-name .fa-pencil:hover {
    color: #0d86ba;
}
#project-name .fa-check:hover {
    color: #25bd41;
}
.hidden {
    display: none;
}
